{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="medium-3 column">
        {% if club.logo %}
            <img src="{{club.logo}}" alt="{{club.name}} logo" /><br />
        {% endif %}
        <h4>{{club.name}}</h4>
        {% if club.description %}
            {{club.description | safe}}
        {% endif %}
        {% if club.facebook_page %}
        <div class="fb-page" data-href="https://www.facebook.com/{{club.facebook_page}}/"
             data-small-header="true" data-adapt-container-width="true"
             data-hide-cover="false"
             data-show-facepile="true">
            <div class="fb-xfbml-parse-ignore">
                <blockquote cite="https://www.facebook.com/{{club.facebook_page}}/">
                    <a href="https://www.facebook.com/{{club.facebook_page}}/">{{club.name}}</a>
                </blockquote>
            </div>
        </div>
        {% endif %}
        <br /><br />
        <div class="row">
            <div class="small-up-3">
                {% for member in club.members %}
                    <div class="column">
                        <img class="thumbnail" src="{{member.photo}}" />
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="medium-9 column">
        {% block club_content %}{% endblock %}
    </div>
</div>
{% endblock %}