{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="medium-3 column">
        {% if club.logo %}
            <img src="{{club.logo}}" alt="{{club.name}} logo" /><br />
        {% endif %}
        <h4>{{club.name}}</h4>
        {% if club.description %}
            {{club.description | safe}}
        {% endif %}
        <br />
        <div class="row">
            <div class="small-up-3">
                {% for member in club.members %}
                    <div class="column">
                        <img class="thumbnail" src="{{member.photo}}" />
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="medium-9 column">
        {% if next_event %}
            {% with type='Next Event', event=next_event %}
                {% include 'event.html' %}
            {% endwith %}
        {% endif %}

        <div class="row">
            <div class="medium-7 column">
                {% for news_item in news %}
                    <div class="callout">
                        <h5>{{news_item.name}}</h5>
                        <h6>{{news_item.date.strftime('%d %B %Y %H:%M')}} by {{news_item.author.first_name}} {{news_item.author.last_name}}</h6>
                        <p>{{news_item.headline}}</p>
                        <hr />
                        <p>{{news_item.content|safe}}</p>
                    </div>
                {% endfor %}
            </div>
            <div class="medium-5 column">
                {% if next_events %}
                    <h4>Next events</h4>
                    {% for event in next_events %}
                        {% include 'event.html' %}
                    {% endfor %}
                {% endif %}
                <br />
                {% if past_events %}
                <h4>Past events</h4>
                    {% for event in past_events %}
                        {% include 'event.html' %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}