<div class="callout secondary">
    <a href="{{url_for('events', event_id=event.id)}}">
        <div class="row">
            {% if event.poster %}
            <div class="medium-5 column">
                <img src="{{event.poster}}" alt="{{event.name}}" />
            </div>
            <div class="medium-7 column">
            {%else%}
                <div class="small-12 column">
            {%endif%}
                {%if type %}
                    <h5>{{type}}</h5>
                {% endif %}
                <h3>{{event.name}}</h3>
                <small>{{gettext('By')}} <a href="{{url_for('clubs', club_slug=event.club.id)}}">{{event.club.name}}</a></small>
                <h6>{{event.start_date.strftime('%d %B %Y %H:%M')}}</h6>
                <h6>{{event.end_date.strftime('%d %B %Y %H:%M')}}</h6>
            </div>
        </div>
        {% if show_description %}
        <div class="row">
            <div class="small-12 column">
                <p>{{event.description|safe}}</p>
            </div>
        </div>
        {% endif %}
    </a>
</div>