{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="medium-3 column">
        {% if event.poster %}
            <img src="{{event.poster}}" alt="{{event.name}} logo" /><br />
        {% endif %}
        <h4>{{event.name}}</h4>
        <small>{{gettext('Organized by')}} <a href="{{url_for('clubs', club_slug=event.club.id)}}">{{event.club.name}}</a></small>
        <h6>{{gettext('From')}} {{format_datetime(event.start_date)}}</h6>
        <h6>{{gettext('To')}} {{format_datetime(event.end_date)}}</h6>
        <hr />
        <h6>{{event.place.name}}</h6>
        {% if gmaps %}
            <iframe height="350" width="100%" frameborder="0" style="border:0"
                    src="{{gmaps}}" allowfullscreen></iframe>
        {% endif %}
    </div>
    <div class="medium-9 column">
        <h3>Description</h3><hr />
        {{event.description|safe}}
    </div>
</div>
{% endblock %}