<div class="callout secondary">
    <div class="row">
        {% if event.poster %}
        <div class="medium-3 column">
            <img src="{{event.poster}}" alt="{{event.name}}" />
        </div>
        <div class="medium-9 column">
        {%else%}
            <div class="small-12 column">
        {%endif%}
            {%if type %}
                <h5>{{type}}</h5>
            {% endif %}
            <h3>{{event.name}}</h3>
            <small>{{gettext('By')}} <a href="{{url_for('clubs', club_slug=event.club.id)}}">{{event.club.name}}</a></small>
            <p>{{event.description|safe}}</p>
            <h6>{{event.start_date.strftime('%d %B %Y %H:%M')}}</h6>
            <h6>{{event.end_date.strftime('%d %B %Y %H:%M')}}</h6>
        </div>
    </div>
</div>