{% extends 'base.html' %}
{% block content %}
<div class="row">
    <h4>Welcome to Atrium</h4>
    <p>
        Atrium is a place that brings together your school's clubs and help you stay up to date with
        their news and events.
    </p>
    <hr />
</div>
<div class="row">
    <h4>ISEN clubs</h4>
    <div class="small-up-1 medium-up-4 large-up-6">
        {% for club in clubs %}
            <div class="column callout">
                <a href="{{ url_for('clubs', club_slug=club.slug)}}">
                    <img src="{{club.logo}}" alt="{{club.logo}} logo"/>
                    <br /><br />
                    <h5 align="center">{{club.name}}</h5>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}